
.gallery-body {
  background-image: linear-gradient(to top right,#aa4b6b, #6b6b83,#3b8d99);
  background-repeat: no-repeat;
  background-size: 100% 150%;
  text-align: center;
  }

.title div{
    border: 1px solid;
}