
.gpa-body {
  background-image: linear-gradient(to bottom right,#e1eec3,#f05053);
  background-repeat: no-repeat;
  background-size: auto;
  }

#menu,#submit-GPA,h2,#semAll,h1{
    text-align: center;
    color: crimson;
    margin: auto;

}
#menu td,#menu th{
    text-align: center;
    padding: 8px;
}
#table2{
    border: wheat solid;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#h1{
    background-color: #fe938c;
    text-align: center;
    color: black;
    margin: auto;
}
#form{
    background-color: #ead2ac ;
    border: #ead2ac solid 2px;
    width: 75%;
    margin: auto;
    
}